In [36]:
#importing libraries
import tensorflow as tf
import pickle
from tensorflow.keras.models import load_model
import pandas as pd
import numpy as np

In [37]:
# load the trained model, labelencoder, onehotencoder, scaler pkl file

model = load_model('model.h5')

with open('label_encoder_gender.pkl','rb') as file:
    label_encoder_gender = pickle.load(file)

with open('onehot_encoder_geography.pkl','rb') as file:
    onehot_encoder_geography = pickle.load(file)

with open('scaler.pkl','rb') as file:
    scaler = pickle.load(file)

WARNING:absl:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.

In [38]:
#example of input data 
input_data = {
    'CreditScore':600,
    'Geography': 'France',
	'Gender':	'Male',
    'Age' :	 40,
    'Tenure'	: 3,
    'Balance'	: 60000,
    'NumOfProducts'	:2,
    'HasCrCard'	: 1,
    'IsActiveMember': 1,	
    'EstimatedSalary':50000
}

In [39]:
[input_data['Geography']]

['France']

In [43]:
# onehot encoding on geography column
# geo_encoded = onehot_encoder_geography.transform([input_data['Geography']]).toarray()
geo_encoded = onehot_encoder_geography.transform([[input_data['Geography']]])
geo_encoded_df = pd.DataFrame(geo_encoded,columns=onehot_encoder_geography.get_feature_names_out(['Geography']))
geo_encoded_df

c:\Users\Anushika\Downloads\ANN_Classification\myenv\Lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0

In [47]:
#convert the input data into Data Frame
input_df = pd.DataFrame([input_data])
input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,France,Male,40,3,60000,2,1,1,50000

In [48]:
#drop the goegraphy column and concat the onehot encoding column of geo
input_df = input_df.drop(['Geography'],axis=1)
input_df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,Male,40,3,60000,2,1,1,50000

In [49]:
input_df = pd.concat([input_df,geo_encoded_df],axis=1)
input_df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,Male,40,3,60000,2,1,1,50000,1.0,0.0,0.0

In [50]:
#do the label encoding on gender column
input_df['Gender'] = label_encoder_gender.transform(input_df['Gender'])
input_df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,1,40,3,60000,2,1,1,50000,1.0,0.0,0.0

In [51]:
#scale the input data 
input_scaled = scaler.transform(input_df)
input_scaled

c:\Users\Anushika\Downloads\ANN_Classification\myenv\Lib\site-packages\sklearn\utils\validation.py:2732: UserWarning: X has feature names, but StandardScaler was fitted without feature names
  warnings.warn(

array([[6.00000000e+02, 1.00000000e+00, 4.00000000e+01, 3.00000000e+00,
        6.00000000e+04, 2.00000000e+00, 1.00000000e+00, 1.00000000e+00,
        5.00000000e+04, 1.00000000e+00, 4.26325641e-17, 7.19424520e-17]])

In [52]:
#predict the model output 
prediction = model.predict(input_scaled)
prediction

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 119ms/step

array([[1.]], dtype=float32)

In [57]:
prediction_proba = prediction[0][0]

In [58]:
prediction_proba

np.float32(1.0)

In [59]:
if prediction_proba > 0.5:
    print("The customer is likely to churn")
else:
    print("The customer is not likely to churn")

The customer is likely to churn